<div class="container">
  <div class="jumbotron">
    <!-- <h1>Welcome</h1> -->
    <h2> AI: Project 1 </h2>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading"> RNN Model Showcase </div>
    <div class="panel-body">
      <h3> Bot Quijote de la Mancha </h3>
    </div>
    <div>
      <p class="text-dark"> Seed </p>
      <input class="input-lg"  [(ngModel)]="seed" ngDefaultControl>
      <p class="text-dark"> Length </p>
      <input class="input-lg"  [(ngModel)]="length" ngDefaultControl>

      <br><br>
      <button class="btn btn-primary" (click)="getPrediction()"> Generate </button>
    </div>

    <br><br>
    <div class="border-light">
      <p class="text-primary"> {{prediction}} </p>
    </div>

  </div>
</div>
